PORT=8000
MONGO_URL=
REDIS_URL=
# Rabbit MQ
AMQP_URL=
FRONTEND_URL=http://localhost:3000

OPENAI_API_KEY=

# Used for the recursive scarping in the same domain - Not being used
CRAWL_DEPTH=1

PINECONE_API_KEY=
PINECONE_INDEX_NAME=

# Pinecone index creation requires time so hence we wait for 3 minutes
# If you dont want to wait, create index on the pinecone console 
# https://app.pinecone.io/organizations
INDEX_INIT_TIMEOUT=240000